<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="uft-8">	
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
	<title>Hello world!</title>

	<style type="text/css">

		.taman {
			width: 100%; /* Tamaño fijo del jumbotron */
    		height: 300px; /* Tamaño fijo del jumbotron */
    		overflow: auto;
		}
		
		.contenedor {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
			font-size: 12px;
      		gap:10px;
    	}

    	.columna {
    		flex: 1;
    		text-align: left;
    		border: 1px solid #ccc;
    		padding: 15px;
    	}

    	.mensajes {
    		text-align: left;
    	}

    	.content textarea {
    		text-align: left;
    		white-space: pre-wrap;
    	}


	</style>
</head>
<body>	
		<div class="contenedor">
			<div class="columna">
				
			</div>
			<div class="columna">
				<p>Stream</p>
				<div id="handlebar1"></div>
				<div>
					{{ room__name|json_script:"room-name" }}
					{{ request.user.username|json_script:"user-username" }}
					{{ request.user.email|json_script:"user-email"}}
				</div>

				<div>

					{% if is_owner %}
    					<p>You can manage your chat with... </p>
    					<div id="my" data-my-variable="{{ is_owner }}"></div>
						<input id="cleanbtn" type="button" value="Clean chat"><br><br>
						<input id="addlinkbtn" type="button" value="Add link"><br><br>
					{% else %}
    					<p>Enjoy the chat</p>
    					<input id="followbtn" type="button" value="Follow"><br><br>
						<input id="donarsubbtn" type="button" value="Donar subs">
					{% endif %}
					
				</div>
			</div>
			<div class="columna">
				<p>Chat</p>
				<div class="content">
					</br>
					<div class="jumbotron taman" id="chattext-2">
						{% for each in messages %}
							<br>
							{% if is_owner %}
								{{ each.author }} 
							{% else %}
								{{ each.author }}
							{% endif %}
							<br>
							{{ each.content }}
							<br>
							{{ each.creation_date }}
							<br>
						{% endfor %}
						
					</div></br>
					<input id="input" type="text" size="30"></br>
					<input id="submit" type="button" value="Send">
				</div>
			</div>

		</div>
		

		<div><p id="welcomemsg"></p></div>

		
	

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script type="text/javascript">
	var local_host 	= window.location.host;
	var red_host 	= '192.168.0.103:8080';

	const roomName 		=JSON.parse(document.getElementById('room-name').textContent);
	const user_username =JSON.parse(document.getElementById('user-username').textContent);
	const user_email	=JSON.parse(document.getElementById('user-email').textContent);

	input = document.querySelector('#input');

	input.addEventListener("keyup", function(event) {
            // Verifica si la tecla presionada es "Enter" (código 13)
            if (event.keyCode === 13) {
                // Dispara el evento de clic en el botón
            	const messageInputDom 	= document.querySelector('#input');
				const message 			= messageInputDom.value;

				chatSocket.send(JSON.stringify({
					'message':message,
					'username':user_username,
					'email':user_email
				}));

				messageInputDom.value = '';
            }
    });

	document.querySelector('#submit').onclick = function (e) {
		const messageInputDom 	= document.querySelector('#input');
		const message 			= messageInputDom.value;

		chatSocket.send(JSON.stringify({
			'message':message,
			'username':user_username,
			'email':user_email
		}));

		messageInputDom.value = '';
	}

	const chatSocket 	= new WebSocket(
		'ws://'+ local_host + '/ws/chat/'+ roomName + '/');
	
	chatSocket.onmessage = function (e){

		const data 		= JSON.parse(e.data);

		if(data.hasOwnProperty('tester')){
			console.log("printing welcome message")

			var prove = "<p>Hola, " + data.tester +"</p>"

			document.getElementById('handlebar1').innerHTML = prove;
		}

		if (data.type == 'game_noti'){
			resp = data.message_to_group

			document.getElementById('handlebar1').innerHTML = resp;
		}

		if (data.type == 'chat_msg'){
			const username 	= '\n'+data.user_username_ 
			role = ''

		

	 		//document.querySelector('#chat-text').value 		+= (username + role +'<br>'+data.message_to_group + '<br>'+data.time_of_message+'\n');

	 		var leme = document.getElementById('my');
	 		var value = leme.dataset.myVariable;

	 		document.querySelector('#chattext-2').innerHTML	+= ('<br>'+username+role+'<br>'+data.message_to_group+'<br>'+data.time_of_message+'<br>');

	 		document.querySelector('#chattext-2').scrollTop = document.querySelector('#chattext-2').scrollHeight;

		}

		if (data.type == 'word_suggest'){
			const username 	= '\n'+data.user_username_ + ' suggested'
	 		document.querySelector('#chat-text').value 		+= (data.message_to_group);
		}

		if (data.type == 'banned'){
			const username 	= '\n'+data.user_username_ + ' suggested'
	 		document.querySelector('#chat-text').value 		+= (data.message_to_group);
		}


		if(data.hasOwnProperty('state')){
			document.getElementById('handlebar1').innerHTML = data.state;
		}

	}

	const requesting_to_back = (url) => {

		fetch(url, {
    		method: 'POST',
    		headers: {
      		'Content-Type': 'application/json',
      		'X-CSRFToken': '{{ csrf_token }}'
    		},
    		body: JSON.stringify(usuario)
  		})
  		.then(response => {
    		if (!response.ok) {
      			throw new Error('Error al realizar la solicitud al backend');
    		}
   			return response.json();
  		})
  		.then(data => {
    		console.log('Solicitud exitosa:', data);
  		})
  		.catch(error => {
    		console.error('Error:', error);
  		});
	}

	document.querySelector('#followbtn').onclick = function (e) {

		var usuario = { id: '{{ user.id }}', username: '{{ user.username}}'};
		var url = "{% url 'saver:followers' %}";

		requesting_to_back(url)  		

	}

	document.querySelector('#subscribebtn').onclick = function (e) {

		var usuario = { id: '{{ user.id }}', username: '{{ user.username}}'};
		var url = "{% url 'saver:subscribers' %}";

		requesting_to_back(url) 

	}

	$(document).ready(function() {
    	var scrollableDiv = document.getElementById("scrollableDiv");
    	scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
	});


	</script>
	
</body>
</html>