<!DOCTYPE html>
<html>
<head>
	<title>Create chat</title>
	<link rel="stylesheet" 
            href="https://bootswatch.com/4/yeti/bootstrap.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  		<div class="container-fluid">
                <a class="navbar-brand" href="{% url 'accounts:profile' %}">Profile</a>
    			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    			</button>
    			<div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav me-auto">
                  {% if user %}
                  <li class="nav-item">
                    <a class="nav-link" href="">Logout</a>
                  </li>
                  {% else %}

                  <li class="nav-item">
                    <a class="nav-link active" href="">Login
                    <span class="visually-hidden">{{ user }}</span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="">Register</a>
                  </li>

                {% endif %}
                
                
                <li class="nav-item">
                    <a class="nav-link" href="">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Explore</a>
                </li>
                
              </ul>
              
          </div>
  		</div>
	</nav>

	<div class="container">
		{% if messages %}
    		<ul class="container bg-dark p-5 text-white messages">
        		{% for message in messages %}
            		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        		{% endfor %}
   			</ul>
		{% endif %}
	</div>

	<div class="container p-5 text-center">
		<h3>Create a chat</h3>
        <form action="{% url 'chatapi:save' %}" method="post">
			{% csrf_token %}
			<br>
			<label>Chatname:</label><br>
            		<input type="text" name="chatname"/><br>
			<button class="btn" type="submit">Create</button>
		</form>
	</div>

</body>
</html>
