<!DOCTYPE html>
<html>
<head>
	<title>Hola</title>
</head>
<body>
	<div id="content">
		<h2>Hallo, leute!</h2>
		<p>There's the index where you can find chat already created, and even you can make yours</p>
	</div>
	<div>
		<h3>next, our chats... </h3>
		{% for chat in chat_list %}
			<p>{{ chat.chatroom_name }}</p>
		{% endfor %}
	</div>

	<div>
		<h3>Let's create your own chat</h3>
		<form action="{% url 'saver:chatrooms' %}" method="post">
			{% csrf_token %}
			<br>
			<label>Chatname:</label><br>
			<input type="text" name="chatname"/><br>
			
			<label>Author:</label><br>
			<input type="text" name="author"/><br>

			<button type="submit">Crear chat</button>
			
		</form>
	</div>
	<a href="{% url 'chatapp:index' %}">Index</a>
	
</body>
</html>