<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" 
            href="https://bootswatch.com/4/yeti/bootstrap.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  		<div class="container-fluid">
    			<a class="navbar-brand" href="{% url 'chatapp:profile' %}">Profile</a>
    			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    			</button>
    			<div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav me-auto">
                {% if user %}

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatapp:logout' %}">Logout</a>
                  </li>

                {% else %}

                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'chatapp:profile' %}">Login
                    <span class="visually-hidden">{{ user }}</span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatapp:register' %}">Register</a>
                  </li>

                {% endif %}
                
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatapp:feed' %}">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatapp:explore' %}">Explore</a>
                </li>
                
              </ul>
              
          </div>
  		</div>
	</nav>

	<div class="container">
		{% if messages %}
    		<ul class="container bg-dark p-5 text-white messages">
        		{% for message in messages %}
            		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        		{% endfor %}
   			</ul>
		{% endif %}

	</div>
	

	<div class="container p-5 text-center">
		<h3>Login!</h3>
		<form action="{% url 'saver:login' %}" method="post">
			{% csrf_token %}
			<br>
			<label>Title:</label><br>
			<input type="text" name="chatname"/><br>
			<input type="text" name="password"><br>
			
			<button class="btn" type="submit">Login</button>
			
		</form>
	</div>

</body>
</html>