<!DOCTYPE html>
<html>
<head>
  {% if user %}
    <title> {{ user.username }}</title>
  {% else %}  
    <title> Profile: </title>
  {% endif %}

	<link rel="stylesheet" 
            href="https://bootswatch.com/4/yeti/bootstrap.css">
  <style>
    .hidden {
        display: none;
    }
  </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  		<div class="container-fluid">
          {% if user %}
            <a class="navbar-brand" href="{% url 'chatapp:profile' %}">{{ user.username }}</a>
          {% endif %}
    			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    			</button>
    			<div class="collapse navbar-collapse" id="navbarColor02">
      				<ul class="navbar-nav me-auto">
                {% if user %}

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatapp:logout' %}">Logout</a>
                  </li>

                {% else %}

                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'chatapp:profile' %}">Login
                    <span class="visually-hidden">{{ user }}</span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatapp:register' %}">Register</a>
                  </li>

                {% endif %}
        				
        				
       					<li class="nav-item">
          					<a class="nav-link" href="{% url 'chatapp:feed' %}">Feed</a>
        				</li>
        				<li class="nav-item">
          					<a class="nav-link" href="{% url 'chatapp:explore' %}">Explore</a>
        				</li>
        				
      				</ul>
      				
    			</div>
  		</div>
	</nav>

	<div class="container">

    <p><dt>Followers: </dt>{{ followers }}</p> 
    <p><dt>Followeds: </dt>{{ followeds }}</p>
    <p><dt>Chatrooms: </dt>{{ chatrooms }}</p>
		
	</div>

  <div class="container">
    <button class="btn btn-primary" id="follower_show">Show Followers</button>
    <div id="follower_seccion" class="hidden">
      {% for fwer in frs_list %}
        <div class="container p-3 bg-primary text-white">
          <p><dt>{{ fwer.username }}</dt></p>
        </div>
      {% endfor %}
    </div>

    <button class="btn btn-primary" id="followed_show">Show Followeds</button>
    <div id="followed_seccion" class="hidden">
      {% for fwed in fds_list %}
        <div class="container p-3 bg-primary text-white">
          <p><dt>{{ fwed.username }}</dt></p>
        </div>
      {% endfor %}
    </div>
  </div>

  <script>
    document.getElementById('follower_show').addEventListener('click', function() {
        var seccion = document.getElementById('follower_seccion');
        seccion.style.display = (seccion.style.display === 'none' || seccion.style.display === '') ? 'block' : 'none';
    });

    document.getElementById('followed_show').addEventListener('click', function() {
        var seccion = document.getElementById('followed_seccion');
        seccion.style.display = (seccion.style.display === 'none' || seccion.style.display === '') ? 'block' : 'none';
    });
</script>


</body>
</html>