{% load static %}

<!DOCTYPE html>
<html>
<head>
  {% if user %}
    <title> {{ user.username }}</title>
  {% else %}  
    <title> Profile: </title>
  {% endif %}

	<link rel="stylesheet" 
            href="https://bootswatch.com/4/yeti/bootstrap.css">
  <style>
    .hidden {
        display: none;
    }
  </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  		<div class="container-fluid">
          {% if user %}
            <a class="navbar-brand" href="{% url 'accounts:profile' %}">{{ user.username }}</a>
          {% endif %}
    			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    			</button>
    			<div class="collapse navbar-collapse" id="navbarColor02">
      				<ul class="navbar-nav me-auto">
                {% if user %}

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accountapi:logout' %}">Logout</a>
                  </li>

                {% else %}

                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'accounts:profile' %}">Login
                    <span class="visually-hidden">{{ user }}</span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                  </li>

                {% endif %}
       					<li class="nav-item">
          					<a class="nav-link" href="{% url 'chatviews:feed' %}">Feed</a>
        				</li>
        				<li class="nav-item">
          					<a class="nav-link" href="{% url 'chatviews:explore' %}">Explore</a>
        				</li>
      				</ul>
    			</div>
  		</div>
	</nav>

    <div class="container">
        <button class="btn btn-primary" id="chatroom_show"><p>Chatrooms: {{ chatrooms }}</p></button>
        <div id="chatroom_section" class="hidden">
          {% for chat in chat_lst %}
            <div class="container p-3 bg-primary text-white">
              <p><dt>{{ chat }}</dt></p>
            </div>
          {% endfor %}
        </div>
        <button class="btn btn-primary" id="follower_show"><p>Followers: {{ followers }}</p></button>
        <div id="follower_section" class="hidden">
          {% for fwer in frs_list %}
            <div class="container p-3 bg-primary text-white">
              <p><dt>{{ fwer.username }}</dt></p>
            </div>
          {% endfor %}
        </div>
        <button class="btn btn-primary" id="following_show"><p>Following: {{ following }}</p></button>
        <div id="following_section" class="hidden">
        {% for fwed in fds_list %}
            <div class="container p-3 bg-primary text-white">
            <p><dt>{{ fwed.username }}</dt></p>
            </div>
        {% endfor %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js\profile.js' %}"></script>
</body>
</html>
